<!DOCTYPE html>
<html>
    <head>
        <title>Grandma's server - Dogs</title>
        <link rel='stylesheet' type='text/css' href='css/styles.css' />
        <link rel="icon" href="images/favicon.ico" />
    </head>
    <body>
        <h1>Grandma likes dogs!</h1>
        <img src="images/jack-russell.jpeg" alt="Image of a Jack Russell Terrier."> <img src="images/labs.jpeg" alt="Image of three different coloured labradors.">

        <form action='/dogs' method='post'>
            <input type='text' name='name' placeholder="Enter your name here"/>
            <button type='submit'>Go Back Home</button>
        </form>
    </body>
</html>