<!DOCTYPE html>
<html>
    <head>
        <title>Grandma's server - Home</title>
        <link rel='stylesheet' type='text/css' href='css/styles.css' />
        <link rel="icon" href="images/favicon.ico" />
    </head>
    <body>
        <h1>Hi, <%= name %>welcome to Grandma's server!</h1>
        <p>Click below to see what Grandma likes!</p>
        <form action='/dogs' method='get'>
            <button type='submit'>Click Me!</button>
        </form>

    </body>
</html>